In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/internship/fb_daily_age_gender.csv')
df2 = pd.read_csv('/content/drive/MyDrive/internship/fb_daily_publisher_platform.csv')
df3 = pd.read_csv('/content/drive/MyDrive/internship/fb_daily_region.csv')
df4 = pd.read_csv('/content/drive/MyDrive/internship/ga_daily.csv')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880 entries, 0 to 1879
Data columns (total 42 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   ad_id                                                        1880 non-null   int64
 1   clicks                                                       1880 non-null   int64
 2   impressions                                                  1880 non-null   int64
 3   date_start                                                   1880 non-null   object
 4   date_stop                                                    1880 non-null   object
 5   reach                                                        1880 non-null   int64
 6   frequency                                                    1880 non-null   float64
 7   spend                                                        1880 non-null   float64
 8   age                                                          1880 non-null   object
 9   gender                                                       1880 non-null   object
 10  website_ctr                                                  796 non-null    float64
 11  actions_onsite_conversion.post_save                          87 non-null     float64
 12  actions_link_click                                           796 non-null    float64
 13  actions_post_reaction                                        327 non-null    float64
 14  actions_post_engagement                                      824 non-null    float64
 15  actions_page_engagement                                      824 non-null    float64
 16  action_values_offsite_conversion.fb_pixel_add_to_cart        37 non-null     float64
 17  action_values_offsite_conversion.fb_pixel_initiate_checkout  35 non-null     float64
 18  action_values_offsite_conversion.fb_pixel_view_content       221 non-null    float64
 19  action_values_omni_add_to_cart                               37 non-null     float64
 20  action_values_omni_initiated_checkout                        35 non-null     float64
 21  action_values_omni_view_content                              221 non-null    float64
 22  action_values_add_to_cart                                    37 non-null     float64
 23  action_values_initiate_checkout                              35 non-null     float64
 24  actions_offsite_conversion.fb_pixel_add_to_cart              40 non-null     float64
 25  actions_offsite_conversion.fb_pixel_initiate_checkout        45 non-null     float64
 26  actions_offsite_conversion.fb_pixel_view_content             224 non-null    float64
 27  actions_add_to_cart                                          40 non-null     float64
 28  actions_initiate_checkout                                    45 non-null     float64
 29  actions_landing_page_view                                    219 non-null    float64
 30  actions_view_content                                         224 non-null    float64
 31  actions_post                                                 22 non-null     float64
 32  action_values_offsite_conversion.fb_pixel_add_payment_info   24 non-null     float64
 33  action_values_offsite_conversion.fb_pixel_purchase           24 non-null     float64
 34  action_values_add_payment_info                               24 non-null     float64
 35  actions_offsite_conversion.fb_pixel_add_payment_info         24 non-null     float64
 36  actions_offsite_conversion.fb_pixel_purchase                 24 non-null     float64
 37  actions_purchase                                             24 non-null     float64
 38  actions_offsite_conversion.fb_pixel_search                   7 non-null      float64
 39  actions_search                                               7 non-null      float64
 40  actions_offsite_conversion.fb_pixel_lead                     3 non-null      float64
 41  actions_comment                                              5 non-null      float64
dtypes: float64(34), int64(4), object(4)
memory usage: 617.0+ KB

In [ ]:
df1_n=df1[["ad_id","impressions","date_start","date_stop","reach","frequency","spend","age","gender","website_ctr"]]

In [ ]:
df1_n.head()

,ad_id,impressions,date_start,date_stop,reach,frequency,spend,age,gender,website_ctr
0,23850769659510035,1,2022-02-03,2022-02-03,1,1.000000,0.01,13-17,male,NaN
1,23850769659510035,734,2022-02-03,2022-02-03,674,1.089021,247.31,25-34,male,2.043597
2,23850769659510035,400,2022-02-03,2022-02-03,369,1.084011,197.41,35-44,male,2.750000
3,23850769659510035,209,2022-02-03,2022-02-03,181,1.154696,135.46,45-54,male,4.306220
4,23850769659510035,10,2022-02-03,2022-02-03,8,1.250000,10.97,55-64,male,NaN

In [ ]:
df1_n.nunique()

ad_id            65
impressions     508
date_start       16
date_stop        16
reach           480
frequency       755
spend          1329
age               8
gender            3
website_ctr     557
dtype: int64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 41 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   ad_id                                                        1121 non-null   int64
 1   clicks                                                       1121 non-null   int64
 2   impressions                                                  1121 non-null   int64
 3   date_start                                                   1121 non-null   object
 4   date_stop                                                    1121 non-null   object
 5   website_ctr                                                  472 non-null    float64
 6   reach                                                        1121 non-null   int64
 7   frequency                                                    1121 non-null   float64
 8   spend                                                        1121 non-null   float64
 9   publisher_platform                                           1121 non-null   object
 10  actions_link_click                                           472 non-null    float64
 11  actions_post_engagement                                      484 non-null    float64
 12  actions_page_engagement                                      484 non-null    float64
 13  actions_onsite_conversion.post_save                          75 non-null     float64
 14  actions_post_reaction                                        230 non-null    float64
 15  action_values_offsite_conversion.fb_pixel_add_to_cart        37 non-null     float64
 16  action_values_offsite_conversion.fb_pixel_initiate_checkout  35 non-null     float64
 17  action_values_offsite_conversion.fb_pixel_view_content       221 non-null    float64
 18  action_values_omni_add_to_cart                               37 non-null     float64
 19  action_values_omni_initiated_checkout                        35 non-null     float64
 20  action_values_omni_view_content                              221 non-null    float64
 21  action_values_add_to_cart                                    37 non-null     float64
 22  action_values_initiate_checkout                              35 non-null     float64
 23  actions_offsite_conversion.fb_pixel_add_to_cart              40 non-null     float64
 24  actions_offsite_conversion.fb_pixel_initiate_checkout        45 non-null     float64
 25  actions_offsite_conversion.fb_pixel_view_content             224 non-null    float64
 26  actions_add_to_cart                                          40 non-null     float64
 27  actions_initiate_checkout                                    45 non-null     float64
 28  actions_landing_page_view                                    219 non-null    float64
 29  actions_view_content                                         224 non-null    float64
 30  actions_post                                                 22 non-null     float64
 31  action_values_offsite_conversion.fb_pixel_add_payment_info   24 non-null     float64
 32  action_values_offsite_conversion.fb_pixel_purchase           24 non-null     float64
 33  action_values_add_payment_info                               24 non-null     float64
 34  actions_offsite_conversion.fb_pixel_add_payment_info         24 non-null     float64
 35  actions_offsite_conversion.fb_pixel_purchase                 24 non-null     float64
 36  actions_purchase                                             24 non-null     float64
 37  actions_offsite_conversion.fb_pixel_search                   7 non-null      float64
 38  actions_search                                               7 non-null      float64
 39  actions_offsite_conversion.fb_pixel_lead                     3 non-null      float64
 40  actions_comment                                              5 non-null      float64
dtypes: float64(34), int64(4), object(3)
memory usage: 359.2+ KB

In [ ]:
df2.head(100)

,ad_id,clicks,impressions,date_start,date_stop,website_ctr,reach,frequency,spend,publisher_platform,...,action_values_offsite_conversion.fb_pixel_add_payment_info,action_values_offsite_conversion.fb_pixel_purchase,action_values_add_payment_info,actions_offsite_conversion.fb_pixel_add_payment_info,actions_offsite_conversion.fb_pixel_purchase,actions_purchase,actions_offsite_conversion.fb_pixel_search,actions_search,actions_offsite_conversion.fb_pixel_lead,actions_comment
0,23850769659510035,41,796,2022-02-03,2022-02-03,2.763819,712,1.117978,413.69,facebook,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23850769659510035,14,553,2022-02-03,2022-02-03,2.169982,534,1.035581,175.99,instagram,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23850769659510035,1,5,2022-02-03,2022-02-03,20.000000,5,1.000000,1.48,messenger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23850769659510035,0,0,2022-02-03,2022-02-03,NaN,0,0.000000,0.00,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23850769659530035,28,868,2022-02-03,2022-02-03,1.728111,786,1.104326,501.66,facebook,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,23850769659510035,0,0,2022-02-06,2022-02-06,NaN,0,0.000000,0.00,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,23850769659530035,39,491,2022-02-06,2022-02-06,4.684318,442,1.110860,574.82,facebook,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,23850769659530035,1,28,2022-02-06,2022-02-06,3.571429,27,1.037037,10.20,instagram,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,23850769659530035,0,2,2022-02-06,2022-02-06,NaN,1,2.000000,0.13,messenger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,23850769659530035,0,0,2022-02-06,2022-02-06,NaN,0,0.000000,0.00,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df2_n=df2[["ad_id","impressions","date_start","date_stop","reach","frequency","spend","publisher_platform",]]

In [ ]:
df_sp=df2_n.groupby('publisher_platform')['spend'].sum()

In [ ]:
df_sp.head()

publisher_platform
audience_network     1463.839350
facebook            71307.138564
instagram           24398.165678
messenger             128.378431
unknown               238.777977
Name: spend, dtype: float64

In [ ]:
df2_n.nunique()

ad_id                  65
impressions           426
date_start             16
date_stop              16
reach                 398
frequency             475
spend                 726
publisher_platform      5
dtype: int64

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7691 entries, 0 to 7690
Data columns (total 41 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   ad_id                                                        7691 non-null   int64
 1   clicks                                                       7691 non-null   int64
 2   impressions                                                  7691 non-null   int64
 3   date_start                                                   7691 non-null   object
 4   date_stop                                                    7691 non-null   object
 5   reach                                                        7691 non-null   int64
 6   frequency                                                    7691 non-null   float64
 7   spend                                                        7691 non-null   float64
 8   region                                                       7691 non-null   object
 9   website_ctr                                                  2260 non-null   float64
 10  actions_link_click                                           2260 non-null   float64
 11  actions_post_engagement                                      2434 non-null   float64
 12  actions_page_engagement                                      2434 non-null   float64
 13  actions_onsite_conversion.post_save                          108 non-null    float64
 14  actions_post_reaction                                        542 non-null    float64
 15  action_values_offsite_conversion.fb_pixel_add_to_cart        37 non-null     float64
 16  action_values_offsite_conversion.fb_pixel_initiate_checkout  35 non-null     float64
 17  action_values_offsite_conversion.fb_pixel_view_content       221 non-null    float64
 18  action_values_add_to_cart                                    37 non-null     float64
 19  action_values_initiate_checkout                              35 non-null     float64
 20  action_values_omni_add_to_cart                               37 non-null     float64
 21  action_values_omni_initiated_checkout                        35 non-null     float64
 22  action_values_omni_view_content                              221 non-null    float64
 23  actions_landing_page_view                                    219 non-null    float64
 24  actions_offsite_conversion.fb_pixel_add_to_cart              40 non-null     float64
 25  actions_offsite_conversion.fb_pixel_initiate_checkout        45 non-null     float64
 26  actions_offsite_conversion.fb_pixel_view_content             224 non-null    float64
 27  actions_add_to_cart                                          40 non-null     float64
 28  actions_initiate_checkout                                    45 non-null     float64
 29  actions_view_content                                         224 non-null    float64
 30  actions_post                                                 22 non-null     float64
 31  action_values_offsite_conversion.fb_pixel_add_payment_info   24 non-null     float64
 32  action_values_offsite_conversion.fb_pixel_purchase           24 non-null     float64
 33  action_values_add_payment_info                               24 non-null     float64
 34  actions_offsite_conversion.fb_pixel_add_payment_info         24 non-null     float64
 35  actions_offsite_conversion.fb_pixel_purchase                 24 non-null     float64
 36  actions_purchase                                             24 non-null     float64
 37  actions_offsite_conversion.fb_pixel_search                   7 non-null      float64
 38  actions_search                                               7 non-null      float64
 39  actions_offsite_conversion.fb_pixel_lead                     3 non-null      float64
 40  actions_comment                                              5 non-null      float64
dtypes: float64(34), int64(4), object(3)
memory usage: 2.4+ MB

In [ ]:
df3_n=df3[["ad_id","clicks","impressions","date_start","date_stop","frequency","reach","spend","region","website_ctr"]]

In [ ]:
df3.nunique()

ad_id                                                            65
clicks                                                           96
impressions                                                     457
date_start                                                       16
date_stop                                                        16
reach                                                           441
frequency                                                      1169
spend                                                          3398
region                                                           36
website_ctr                                                     681
actions_link_click                                               78
actions_post_engagement                                          80
actions_page_engagement                                          80
actions_onsite_conversion.post_save                               2
actions_post_reaction                                             7
action_values_offsite_conversion.fb_pixel_add_to_cart            13
action_values_offsite_conversion.fb_pixel_initiate_checkout      10
action_values_offsite_conversion.fb_pixel_view_content          165
action_values_add_to_cart                                        13
action_values_initiate_checkout                                  10
action_values_omni_add_to_cart                                   13
action_values_omni_initiated_checkout                            10
action_values_omni_view_content                                 165
actions_landing_page_view                                        51
actions_offsite_conversion.fb_pixel_add_to_cart                   7
actions_offsite_conversion.fb_pixel_initiate_checkout             5
actions_offsite_conversion.fb_pixel_view_content                 76
actions_add_to_cart                                               7
actions_initiate_checkout                                         5
actions_view_content                                             76
actions_post                                                      1
action_values_offsite_conversion.fb_pixel_add_payment_info        9
action_values_offsite_conversion.fb_pixel_purchase                9
action_values_add_payment_info                                    9
actions_offsite_conversion.fb_pixel_add_payment_info              3
actions_offsite_conversion.fb_pixel_purchase                      2
actions_purchase                                                  2
actions_offsite_conversion.fb_pixel_search                        3
actions_search                                                    3
actions_offsite_conversion.fb_pixel_lead                          1
actions_comment                                                   1
dtype: int64

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7691 entries, 0 to 7690
Data columns (total 41 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   ad_id                                                        7691 non-null   int64
 1   clicks                                                       7691 non-null   int64
 2   impressions                                                  7691 non-null   int64
 3   date_start                                                   7691 non-null   object
 4   date_stop                                                    7691 non-null   object
 5   reach                                                        7691 non-null   int64
 6   frequency                                                    7691 non-null   float64
 7   spend                                                        7691 non-null   float64
 8   region                                                       7691 non-null   object
 9   website_ctr                                                  2260 non-null   float64
 10  actions_link_click                                           2260 non-null   float64
 11  actions_post_engagement                                      2434 non-null   float64
 12  actions_page_engagement                                      2434 non-null   float64
 13  actions_onsite_conversion.post_save                          108 non-null    float64
 14  actions_post_reaction                                        542 non-null    float64
 15  action_values_offsite_conversion.fb_pixel_add_to_cart        37 non-null     float64
 16  action_values_offsite_conversion.fb_pixel_initiate_checkout  35 non-null     float64
 17  action_values_offsite_conversion.fb_pixel_view_content       221 non-null    float64
 18  action_values_add_to_cart                                    37 non-null     float64
 19  action_values_initiate_checkout                              35 non-null     float64
 20  action_values_omni_add_to_cart                               37 non-null     float64
 21  action_values_omni_initiated_checkout                        35 non-null     float64
 22  action_values_omni_view_content                              221 non-null    float64
 23  actions_landing_page_view                                    219 non-null    float64
 24  actions_offsite_conversion.fb_pixel_add_to_cart              40 non-null     float64
 25  actions_offsite_conversion.fb_pixel_initiate_checkout        45 non-null     float64
 26  actions_offsite_conversion.fb_pixel_view_content             224 non-null    float64
 27  actions_add_to_cart                                          40 non-null     float64
 28  actions_initiate_checkout                                    45 non-null     float64
 29  actions_view_content                                         224 non-null    float64
 30  actions_post                                                 22 non-null     float64
 31  action_values_offsite_conversion.fb_pixel_add_payment_info   24 non-null     float64
 32  action_values_offsite_conversion.fb_pixel_purchase           24 non-null     float64
 33  action_values_add_payment_info                               24 non-null     float64
 34  actions_offsite_conversion.fb_pixel_add_payment_info         24 non-null     float64
 35  actions_offsite_conversion.fb_pixel_purchase                 24 non-null     float64
 36  actions_purchase                                             24 non-null     float64
 37  actions_offsite_conversion.fb_pixel_search                   7 non-null      float64
 38  actions_search                                               7 non-null      float64
 39  actions_offsite_conversion.fb_pixel_lead                     3 non-null      float64
 40  actions_comment                                              5 non-null      float64
dtypes: float64(34), int64(4), object(3)
memory usage: 2.4+ MB

In [ ]:
df3_n=["ad_id","clicks","date_start","date_stop","impressions","reach","frequency","spend","region","website_ctr",]

In [ ]:
df3.head()

,ad_id,clicks,impressions,date_start,date_stop,reach,frequency,spend,region,website_ctr,...,action_values_offsite_conversion.fb_pixel_add_payment_info,action_values_offsite_conversion.fb_pixel_purchase,action_values_add_payment_info,actions_offsite_conversion.fb_pixel_add_payment_info,actions_offsite_conversion.fb_pixel_purchase,actions_purchase,actions_offsite_conversion.fb_pixel_search,actions_search,actions_offsite_conversion.fb_pixel_lead,actions_comment
0,23850769659510035,0,2,2022-02-03,2022-02-03,2,1.000000,0.16,Andaman and Nicobar Islands,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23850769659510035,3,77,2022-02-03,2022-02-03,68,1.132353,47.56,Andhra Pradesh,2.597403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23850769659510035,0,12,2022-02-03,2022-02-03,10,1.200000,5.29,Arunachal Pradesh,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23850769659510035,4,48,2022-02-03,2022-02-03,42,1.142857,24.15,Assam,6.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23850769659510035,2,31,2022-02-03,2022-02-03,28,1.107143,21.76,Bihar,3.225806,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df4.head()

,start_date,end_date,ga:sourceMedium,ga:currencyCode,ga:sessions,ga:organicSearches,ga:users,ga:transactions,ga:transactionsPerSession,ga:transactionRevenue,ga:totalValue,ga:itemQuantity,ga:transactionsPerUser
0,2022-02-01,2022-02-01,(direct) / (none),(not set),12,0,11,0,0.0,0.0,0.0,0,0.0
1,2022-02-01,2022-02-01,(direct) / (none),INR,0,0,2,0,0.0,0.0,0.0,0,0.0
2,2022-02-01,2022-02-01,af.uppromote.com / referral,(not set),2,0,2,0,0.0,0.0,0.0,0,0.0
3,2022-02-01,2022-02-01,af.uppromote.com / referral,INR,0,0,1,0,0.0,0.0,0.0,0,0.0
4,2022-02-01,2022-02-01,facebook.com / referral,(not set),8,0,8,0,0.0,0.0,0.0,0,0.0

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   start_date                 362 non-null    object
 1   end_date                   362 non-null    object
 2   ga:sourceMedium            362 non-null    object
 3   ga:currencyCode            362 non-null    object
 4   ga:sessions                362 non-null    int64
 5   ga:organicSearches         362 non-null    int64
 6   ga:users                   362 non-null    int64
 7   ga:transactions            362 non-null    int64
 8   ga:transactionsPerSession  362 non-null    float64
 9   ga:transactionRevenue      362 non-null    float64
 10  ga:totalValue              362 non-null    float64
 11  ga:itemQuantity            362 non-null    int64
 12  ga:transactionsPerUser     362 non-null    float64
dtypes: float64(4), int64(5), object(4)
memory usage: 36.9+ KB

In [ ]:
df4.nunique()

start_date                   18
end_date                     18
ga:sourceMedium              18
ga:currencyCode               2
ga:sessions                  63
ga:organicSearches           10
ga:users                     82
ga:transactions               4
ga:transactionsPerSession     8
ga:transactionRevenue        10
ga:totalValue                10
ga:itemQuantity               5
ga:transactionsPerUser       27
dtype: int64

In [ ]:
df5=df4.copy()

In [ ]:
df5.loc[df5["ga:sourceMedium"] == "(direct) / (none)", "ga:sourceMedium"] = "unknown"
df5.loc[df5["ga:sourceMedium"] == "af.uppromote.com / referral", "ga:sourceMedium"] = "audience_network"
df5.loc[df5["ga:sourceMedium"] == "couponseeker.com / referral", "ga:sourceMedium"] = "audience_network"
df5.loc[df5["ga:sourceMedium"] == "facebook / ads","ga:sourceMedium"] = "facebook"
df5.loc[df5["ga:sourceMedium"] == "facebook.com / referral", "ga:sourceMedium"] = "facebook"
df5.loc[df5["ga:sourceMedium"] == "flow / sms", "ga:sourceMedium"] = "audience_network"
df5.loc[df5["ga:sourceMedium"] == "in.search.yahoo.com / referral", "ga:sourceMedium"] = "audience_network"
df5.loc[df5["ga:sourceMedium"] == "instagram.com / referral", "ga:sourceMedium"] = "instagram"
df5.loc[df5["ga:sourceMedium"] == "l.facebook.com / referral", "ga:sourceMedium"] = "facebook"
df5.loc[df5["ga:sourceMedium"] == "l.instagram.com / referral", "ga:sourceMedium"] = "instagram"
df5.loc[df5["ga:sourceMedium"] == "lm.facebook.com / referral", "ga:sourceMedium"] = "facebook"
df5.loc[df5["ga:sourceMedium"] == "loox.io / referral", "ga:sourceMedium"] = "audience_network"
df5.loc[df5["ga:sourceMedium"] == "loox.io / referral", "ga:sourceMedium"] = "audience_network"
df5.loc[df5["ga:sourceMedium"] == "m.facebook.com / referral", "ga:sourceMedium"] = "facebook"
df5.loc[df5["ga:sourceMedium"] == "referral / post", "ga:sourceMedium"] = "audience_network"
df5.loc[df5["ga:sourceMedium"] == "bing / organic", "ga:sourceMedium"] = "organic"
df5.loc[df5["ga:sourceMedium"] == "duckduckgo / organic", "ga:sourceMedium"] = "organic"
df5.loc[df5["ga:sourceMedium"] == "google / organic", "ga:sourceMedium"] = "organic"
df5.loc[df5["ga:sourceMedium"] == "google / product_sync", "ga:sourceMedium"] = "organic"

In [ ]:
df5.head()

,start_date,end_date,ga:sourceMedium,ga:currencyCode,ga:sessions,ga:organicSearches,ga:users,ga:transactions,ga:transactionsPerSession,ga:transactionRevenue,ga:totalValue,ga:itemQuantity,ga:transactionsPerUser
0,2022-02-01,2022-02-01,unknown,(not set),12,0,11,0,0.0,0.0,0.0,0,0.0
1,2022-02-01,2022-02-01,unknown,INR,0,0,2,0,0.0,0.0,0.0,0,0.0
2,2022-02-01,2022-02-01,audience_network,(not set),2,0,2,0,0.0,0.0,0.0,0,0.0
3,2022-02-01,2022-02-01,audience_network,INR,0,0,1,0,0.0,0.0,0.0,0,0.0
4,2022-02-01,2022-02-01,facebook,(not set),8,0,8,0,0.0,0.0,0.0,0,0.0

In [ ]:
#data = [['audience_network'], ['facebook'], ['instagram'], ['organic'],['unknown']]
#df_out = pd.DataFrame(data, columns = ['Platform'])

In [ ]:
#df_out["itemQuantity_sum"]=df5.groupby('ga:sourceMedium')['ga:itemQuantity'].sum()
#df_out["ga:sessions_sum"]=df5.groupby('ga:sourceMedium')['ga:sessions'].sum()
#df_out["ga:user_sum"]=df5.groupby('ga:sourceMedium')['ga:users'].sum()
#df_out["ga:transactions_sum"]=df5.groupby('ga:sourceMedium')['ga:transactions'].sum()
#df_out["ga:transactionRevenues_sum"]=df5.groupby('ga:sourceMedium')['ga:transactionRevenue'].sum()
#df_out["ga:itemQuantity_sum"]=df5.groupby('ga:sourceMedium')['ga:itemQuantity'].sum()

In [ ]:
df6=df5[['start_date','end_date','ga:sourceMedium','ga:itemQuantity','ga:sessions','ga:users','ga:transactions','ga:transactionRevenue','ga:transactionsPerUser']]

In [ ]:
df_out=df5.groupby('ga:sourceMedium')['ga:itemQuantity','ga:sessions','ga:users','ga:transactions','ga:transactionRevenue','ga:transactionsPerUser'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
df_out=df_out.rename_axis('publisher_platform')

In [ ]:
df_out.head()

,ga:itemQuantity,ga:sessions,ga:users,ga:transactions,ga:transactionRevenue,ga:transactionsPerUser
publisher_platform,,,,,,
audience_network,2,31,25,1,7998.00,1.000000
facebook,20,3865,7318,19,70980.00,0.665972
instagram,5,416,718,4,20995.00,0.215972
organic,4,209,223,4,12036.99,0.792857
unknown,7,509,837,6,23993.00,0.250205

In [ ]:
df_out2=df2_n.groupby('publisher_platform')['spend'].sum()

In [ ]:
pd.DataFrame(df_out2)

                           spend
publisher_platform
audience_network     1463.839350
facebook            71307.138564
instagram           24398.165678
messenger             128.378431
unknown               238.777977

In [ ]:
df_final=pd.merge(df_out,df_out2,on="publisher_platform",how='outer')

In [ ]:
df_final.loc['organic','spend']=0 # setting NAN value to zero
df_final.loc['unknown','spend']=0 #it was coming close to 238 rs as mentioned its zero in problem so we need to set it to zer0
df_final.columns = ['Order Quantity', 'Sessions', 'Users', 'Transactions','Revenue','Transactions Per User','Amount Spent']

In [ ]:

df_final

,Order Quantity,Sessions,Users,Transactions,Revenue,Transactions Per User,Amount Spent
publisher_platform,,,,,,,
audience_network,2.0,31.0,25.0,1.0,7998.00,1.000000,1463.839350
facebook,20.0,3865.0,7318.0,19.0,70980.00,0.665972,71307.138564
instagram,5.0,416.0,718.0,4.0,20995.00,0.215972,24398.165678
organic,4.0,209.0,223.0,4.0,12036.99,0.792857,0.000000
unknown,7.0,509.0,837.0,6.0,23993.00,0.250205,0.000000
messenger,NaN,NaN,NaN,NaN,NaN,NaN,128.378431

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, audience_network to messenger
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Order Quantity         5 non-null      float64
 1   Sessions               5 non-null      float64
 2   Users                  5 non-null      float64
 3   Transactions           5 non-null      float64
 4   Revenue                5 non-null      float64
 5   Transactions Per User  5 non-null      float64
 6   Amount Spent           6 non-null      float64
dtypes: float64(7)
memory usage: 556.0+ bytes

In [ ]:
df_final=df5[['start_date','end_date','ga:itemQuantity','ga:sessions','ga:users','ga:transactions','ga:transactionRevenue','ga:transactionsPerUser','ga:sourceMedium']]

In [ ]:
df_spent=df2_n[["date_start","date_stop",'spend','publisher_platform']]

In [ ]:
df6.head()

,start_date,end_date,ga:sourceMedium,ga:itemQuantity,ga:sessions,ga:users,ga:transactions,ga:transactionRevenue,ga:transactionsPerUser
0,2022-02-01,2022-02-01,unknown,0,12,11,0,0.0,0.0
1,2022-02-01,2022-02-01,unknown,0,0,2,0,0.0,0.0
2,2022-02-01,2022-02-01,audience_network,0,2,2,0,0.0,0.0
3,2022-02-01,2022-02-01,audience_network,0,0,1,0,0.0,0.0
4,2022-02-01,2022-02-01,facebook,0,8,8,0,0.0,0.0

In [ ]:
df_spent

      date_start   date_stop   spend publisher_platform
0     2022-02-03  2022-02-03  413.69           facebook
1     2022-02-03  2022-02-03  175.99          instagram
2     2022-02-03  2022-02-03    1.48          messenger
3     2022-02-03  2022-02-03    0.00            unknown
4     2022-02-03  2022-02-03  501.66           facebook
...          ...         ...     ...                ...
1116  2022-02-18  2022-02-18    1.97            unknown
1117  2022-02-18  2022-02-18   92.56           facebook
1118  2022-02-18  2022-02-18  213.52          instagram
1119  2022-02-18  2022-02-18    0.02          messenger
1120  2022-02-18  2022-02-18    0.59            unknown

[1121 rows x 4 columns]

In [ ]:
df_finalout=pd.merge(df6,df_spent,left_on=["start_date",'end_date','ga:sourceMedium'],right_on=['date_start','date_stop','publisher_platform'],how='outer')

In [ ]:
df_finalout = df_finalout.dropna()
df_finalout = df_finalout.reset_index(drop = True)

In [ ]:
df_finalout.head(100)

,start_date,end_date,ga:sourceMedium,ga:itemQuantity,ga:sessions,ga:users,ga:transactions,ga:transactionRevenue,ga:transactionsPerUser,date_start,date_stop,spend,publisher_platform
0,2022-02-03,2022-02-03,unknown,0.0,16.0,14.0,0.0,0.0,0.0,2022-02-03,2022-02-03,0.0,unknown
1,2022-02-03,2022-02-03,unknown,0.0,16.0,14.0,0.0,0.0,0.0,2022-02-03,2022-02-03,0.0,unknown
2,2022-02-03,2022-02-03,unknown,0.0,16.0,14.0,0.0,0.0,0.0,2022-02-03,2022-02-03,0.0,unknown
3,2022-02-03,2022-02-03,unknown,0.0,16.0,14.0,0.0,0.0,0.0,2022-02-03,2022-02-03,0.0,unknown
4,2022-02-03,2022-02-03,unknown,0.0,16.0,14.0,0.0,0.0,0.0,2022-02-03,2022-02-03,0.0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-02-04,2022-02-04,unknown,0.0,23.0,23.0,0.0,0.0,0.0,2022-02-04,2022-02-04,0.0,unknown
96,2022-02-04,2022-02-04,unknown,0.0,23.0,23.0,0.0,0.0,0.0,2022-02-04,2022-02-04,0.0,unknown
97,2022-02-04,2022-02-04,unknown,0.0,23.0,23.0,0.0,0.0,0.0,2022-02-04,2022-02-04,0.0,unknown
98,2022-02-04,2022-02-04,unknown,0.0,23.0,23.0,0.0,0.0,0.0,2022-02-04,2022-02-04,0.0,unknown
99,2022-02-04,2022-02-04,unknown,0.0,23.0,23.0,0.0,0.0,0.0,2022-02-04,2022-02-04,0.0,unknown

In [ ]:
df_finalout.drop(['date_start','date_stop','ga:sourceMedium'],axis=1,inplace=True)

In [ ]:
df_finalout.columns = ['start_date','end_date','Order Quantity', 'Sessions', 'Users', 'Transactions','Revenue','Transactions Per User','Amount Spent','Source']

In [ ]:
df_finalout.head()

,start_date,end_date,Order Quantity,Sessions,Users,Transactions,Revenue,Transactions Per User,Amount Spent,Source
0,2022-02-03,2022-02-03,0.0,16.0,14.0,0.0,0.0,0.0,0.0,unknown
1,2022-02-03,2022-02-03,0.0,16.0,14.0,0.0,0.0,0.0,0.0,unknown
2,2022-02-03,2022-02-03,0.0,16.0,14.0,0.0,0.0,0.0,0.0,unknown
3,2022-02-03,2022-02-03,0.0,16.0,14.0,0.0,0.0,0.0,0.0,unknown
4,2022-02-03,2022-02-03,0.0,16.0,14.0,0.0,0.0,0.0,0.0,unknown

In [ ]:
ffff=df_finalout.groupby('Source')['Amount Spent'].sum()

In [ ]:
ffff

Source
audience_network      4180.341693
facebook            665128.240813
instagram            97592.662712
unknown                477.555954
Name: Amount Spent, dtype: float64

In [ ]:
df_finalout.to_csv('/content/drive/MyDrive/internship/output.csv', encoding = 'utf-8-sig')

In [ ]:
! pip install ipython-sql
! pip install psycopg2

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.2.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.36)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.8.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [ ]:
import subprocess
from sqlalchemy.engine.create import create_engine

# Get the Database URL using Heroku CLI
# -------------------------------------
# Running the following from Python: $heroku config:get DATABASE_URL --app your-app-name
heroku_app_name = "your-app-name"

# Assumption: HEROKU_API_KEY is set in your terminal
# You can confirm that it's set by running the following python command os.environ["HEROKU_API_KEY"]
raw_db_url = subprocess.run(
    ["heroku", "config:get", "DATABASE_URL", "--app", heroku_app_name],
    capture_output=True  # capture_output arg is added in Python 3.7
).stdout 

# Convert binary string to a regular string & remove the newline character
db_url = raw_db_url.decode("ascii").strip()

# Convert "postgres://<db_address>"  --> "postgresql+psycopg2://<db_address>" needed for SQLAlchemy
final_db_url = "postgresql+psycopg2://" + db_url.lstrip("postgres://")  # lstrip() is more suitable here than replace() function since we only want to replace postgres at the start!


# Create SQLAlchemy engine
# ------------------------
engine = create_engine(final_db_url)

FileNotFoundError: ignored